doctype html
html
  head
    title #{siteName} | this is #{title}
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous")
    body
    header
     
    main
      include ../partials/testPartials.pug  
      h1 This is test pages
      h2 You can make your own pages from belong part  
      block content
  footer
    include ../partials/testPartials.pug
    h4 this service was privided Nomad coder  