.video__comments-list {
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    i {
      font-size: 1.5vw;
      margin-left: 40px;
    }
  }
}
