extends layouts/main.pug
include mixins/videoBlock.pug

block content
  .search__header(style="font-size:30px; margin-bottom:15px;")
    h3 Searching for : #{searchingBy}
  .search__videos
    if videos.length === 0
      h5 No Videos Found
    each item in videos
      +videoBlock({
        title : item.title,
        views : item.views,
        videoFile : item.fileUrl,
        id : item.id
      })   